params {
  reads = ''
  outdir = 'results'
}

profiles {
  gandalf {
    params.project = 'bio'
	params.partition = 'ctmr'
	process.executor = 'slurm'
	process.clusterOptions = " --partition ${params.partition} -A ${params.project}"
	scratch = true
  }
}


process {
  cpus = 2
  time = 60.m
  conda = 'bioconda::sourmash' 
}

