params {
  reads = ''
  outdir = 'results'
}

profiles {
  conda {
    conda = 'bioconda::sourmash numpy matplotlib' 
  }
  singularity {
    container = 'docker://quay.io/biocontainers/sourmash:4.3.0--hdfd78af_1'
    singularity.enabled = true
  }
  gandalf {
    params.project = 'bio'
    params.partition = 'ctmr'
    process.executor = 'slurm'
    process.clusterOptions = " --partition ${params.partition} -A ${params.project}"
    scratch = true
    container = 'docker://quay.io/biocontainers/sourmash:4.3.0--hdfd78af_1'
    singularity.enabled = true
    singularity.libraryDir = '/ceph/db/sing'
  }
}

process {
  cpus = 2
  time = 120.m
}

