params {
  reads = ''
  outdir = 'results'
}

profiles {
  singularity {
    singularity.enabled = true
  }
  gandalf {
    params.project = 'bio'
    params.partition = 'ctmr'
    process.executor = 'slurm'
    process.clusterOptions = " --partition ${params.partition} -A ${params.project}"
    scratch = true
    singularity.enabled = true
    singularity.cacheDir = '/ceph/db/sing'
  }
}

process {
  cpus = 2
  time = 120.m
  conda = 'bioconda::sourmash anaconda::numpy anaconda::matplotlib'
  container = 'docker://quay.io/biocontainers/sourmash:4.5.0--hdfd78af_0'
}

